body {
  background: black;
  color: red;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  padding: 50px;
}
.container {
  width: 400px;
}
img {
  width: 50%
}
#translatedNumbers {
  text-align: justify;
  display: none;
}
.form-control, textarea {
  background-color: black;
  color: red;
}
.btn-dark {
  color: red;
}
