body {
  background: black;
  color: red;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}
.container {
  width: 400px;
}
img {
  width: 50%
}
p {
  text-align: justify;
  display: none;
}
input {
  backgroun: black;
  color: red;
}
