body {
  background: black;
  color: red;
  font-family: 'Roboto Mono', monospace;
  padding: 50px;
  text-align: center;
}
h1 {
  font-family: 'Roboto Mono', monospace;
}
.container {
  width: 400px;
}
img {
  width: 50%
}
#translatedNumbers {
  display: none;
  margin-left: 25%;
  text-align: center;
  display: none;
  width: 50%;
}
p {
  text-align: justify;
}
.form-control {
  background-color: black;
  color: red;
}
.btn-dark {
  color: red;
}
input {
  text-align: center;
}
